header{
    background-color: #ed8080;
}
section.my-article{
    background-color: #d5d8deac;
}
/* all child */
header p{
    color: rgb(23, 219, 108);
}
/* adjacent selector */
p+h1{
    color: rgb(56, 27, 241);
}

/* direct child selector  */

section.my-article>h2{
    color: rgba(221, 10, 7, 0.459);
}
input[type=text]{
    background-color: bisque;
}
/* a[href="https://goggle.co.in"]{
    color: rgb(80, 135, 24);
} */
/* it is hactic to paste whole link */

/* a[href*=goggle]{
    color: chocolate;
} */
/* 
a[href^=https]{
    color: rgb(39, 7, 201);
} */

a[href$= ".com"]{
    color:rgb(255, 0, 21);
}

input[type ^="t"]{
    color: rgb(47, 14, 213);
}
/* learning specificity */

/* >inlinestyle>id>class>element */
/* importance of !important */
/* later one specifcity is more one giving same class */

/* h1{
    color:aqua
} */
.heading{
    color: rgb(162, 6, 6);
}  
.h1class{
    color: #ed8080 
}


/* #h1id{
    color: rgb(39, 12, 236);
} */

.block{
    border: 2px solid green;
    margin: 10px;
    padding: 5px;
    width: 500px;
    display: inline;
}

.link{
    border: 1px solid red;
    margin: 10px;
    padding: 5px;
    display: block;
}